@{
    ViewData["Title"] = "Home Page";

}
@model Message

<head>
    <link rel="stylesheet" href="/css/HomeSS.css" />
</head>
<section class="sec1">
    <div class="container">

        <div class="about-wrapper">
            <div class="about-me">
                <h4 id="about-h4">About me</h4>
                <div class="about-p">
                    <p>I like problem solving and challenging myself everytime I see something that peeks my interest</p>

                    <p>I'm a fast learner and I enjoy working with new technologies</p>
                </div>


                <hr />
                <h4 id="about-ph4"> I have basic knowledge in the following</h4>
                <div id="skills">
                    <ul>
                        <li>C#</li>
                        <li>SQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>.NET</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</section>
<hr />
<section class="sec2">
    <div class="container">
        <h3 style="text-align: center; font-size:24px; color:black; margin:30px 0;">Some of my past projects</h3>

        <div class="post-wrapper">

            <div>
                <div class="post">
                    <img class="thumbnail" src="/css/Images/weaApp.PNG">
                    <div class="post-preview">
                        <h6 class="post-title">Weather forecast application</h6>
                        <p class="post-intro">Weather application that does hourly and weekly forceast around the globe</p>
                        <a href="https://github.com/ShendritB/WeatherForecast-App" target="_blank">Read More</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="post">
                    <img class="thumbnail" src="/css/Images/SportsBlog.PNG">
                    <div class="post-preview">
                        <h6 class="post-title">Sports blog - CSS,HTML,JS</h6>
                        <p class="post-intro">A responsive website project built solely using CSS, HTML and JS</p>
                        <a href="https://github.com/ShendritB/Sports-blog" target="_blank">Read More</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="post">
                    <img class="thumbnail" src="/css/Images/Sudokusolver.jpg">
                    <div class="post-preview">
                        <h6 class="post-title">Sudoku solver</h6>
                        <p class="post-intro">An algorithm that solves any possible sudoku that might seem hard to you</p>
                        <a href="post.html">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<hr />

<section class="contact">
            <div class="content">
                <h2>Contact me</h2>
                <p>You can contact me by phone number, email and other means displayed below</p>
            </div>
            <div class="containerC">
                <div class=contactInfo>
                    <div class="shPageBox">
                        <div class="icon"><i class="fa fa-map-marker"></i></div>
                        <div class="shPageText">
                            <h3>Address</h3>
                            <p>St. Afrim Zhitia<br>Prishtinë<br>Llagjja e studentëve</p>
                        </div>
                    </div>
                    <div class="shPageBox">
                        <div class="icon"><i class="fa fa-envelope-o"></i></div>
                        <div class="shPageText">
                            <h3>Email</h3>
                            <p>shendrit-beqa@outlook.com<br> shendrit.beqa@outlook.com</p>
                        </div>
                    </div>
                    <div class="shPageBox">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <div class="shPageText">
                            <h3>Phone</h3>
                            <p>+383 43 556 232</p>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form method="post" asp-action="Index">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <h2>Send Messages</h2>  
                        <div class="inputBox">
                            <label>Name</label>
                            <input asp-for="Name" class="form-control"/>
                            @*<input type="text" name="" placeholder="Full Name...">*@
                        </div>
                        <div class="inputBox">
                            <label>Email</label>
                            <input asp-for="Email" class="form-control" />
                            @*<input type="text" name="" placeholder="Your Email...">*@
                        </div>
                        <div class="inputBox">
                            <label>Message</label>
                            <textarea asp-for="message" class="form-control" placeholder="Your Message..."></textarea>
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Send"> 
                        </div>
                    </form>

                </div>
            </div>
</section>