@{
    ViewData["Title"] = "Home Page";

}

<head>
    <link rel="stylesheet" href="/css/HomeSS.css" />
</head>
<section class="sec1">
    <div class="container">

        <div class="about-wrapper">
            <div class="about-me">
                <h4 id="about-h4">About me</h4>
                <div class="about-p">
                    <p>I like problem solving and challenging myself everytime I see something that peeks my interest</p>

                    <p>I'm a fast learner and I enjoy working with new technologies</p>
                </div>


                <hr />
                <h4 id="about-ph4"> I have basic knowledge in the following</h4>
                <div id="skills">
                    <ul>
                        <li>C#</li>
                        <li>SQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>.NET</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</section>
<hr />
<section class="sec2">
    <div class="container">
        <h3 style="text-align: center; font-size:24px; color:black; margin:30px 0;">Some of my past projects</h3>

        <div class="post-wrapper">

            <div>
                <div class="post">
                    <img class="thumbnail" src="/css/Images/weaApp.PNG">
                    <div class="post-preview">
                        <h6 class="post-title">Weather forecast application</h6>
                        <p class="post-intro">Weather application that does hourly and weekly forceast around the globe</p>
                        <a href="https://github.com/ShendritB/WeatherForecast-App" target="_blank">Read More</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="post">
                    <img class="thumbnail" src="/css/Images/SportsBlog.PNG">
                    <div class="post-preview">
                        <h6 class="post-title">Sports blog - CSS,HTML,JS</h6>
                        <p class="post-intro">A responsive website project built solely using CSS, HTML and JS</p>
                        <a href="https://github.com/ShendritB/Sports-blog" target="_blank">Read More</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="post">
                    <img class="thumbnail" src="/css/Images/Sudokusolver.jpg">
                    <div class="post-preview">
                        <h6 class="post-title">Human resources database</h6>
                        <p class="post-intro">A database modeled using lucidchart for human resources</p>
                        <a href="post.html">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>