body {
    background-color: #edf2fb;
}

.container {
    width: 80%;
    margin: auto;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
    color: #000000;
}

#about-h4 {
    font-size: 50px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.about-p {
    margin: 15px 0;
    font-size: 20px;
    text-align: center;
}

#about-ph4 {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    color: #000000;
}

#skills {
    display: grid;
    text-align:center;
    color:white;

}

    #skills li {
        background-color: #14213D;
        font-weight:bold;
        padding: 20px;
        margin: 10px 0;
        border: 3px white solid;
        border-radius: 10%;
    }

        #skills li:hover {
            background-color: #F55353;
            transition:1s;
        }



.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 60px;
}

.post {
    border-radius: 20px;
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.post-title {
    padding-top: 5px;
    color: #000000;
    text-align: center;
    font-size: 14px;
}

.post-intro {
    color: #000000;
    font-size: 14px;
    text-align: left;
    padding: 10px 20px;
}

.sec2 a {
    text-align: center;
    font-size: 14px;
    color: #30AADD;
    padding-left: 20px;
}

    .sec2 a:hover {
        color: #FF6B6B;
        transition: 0.5s;
    }

.fab, .fa {
    margin: 0;
    padding: 0;
    color: #f44336;
}

    .fab:hover, .fa:hover {
        color: #ff2600;
    }

.contact {
    background-color: #edf2fb;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .contact .content {
        max-width: 800px;
        text-align: center;
    }

        .contact .content h2 {
            font-size: 36px;
            margin-bottom: 10px;
            font-family:Amperzand;
            font-weight: 500;
            color: #14213D;
        }

        .contact .content p {
            font-weight: 300;
            color: #000000;
            font-size:20px;
        }

.containerC {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

    .containerC .contactInfo {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

        .containerC .contactInfo .shPageBox {
            position: relative;
            padding: 20px 0;
            display: flex;
        }

.containerC .contactInfo .shPageBox .icon {
    min-width: 70px;
    height: 70px;
    background-color: #14213D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

                .containerC .contactInfo .shPageBox .icon:hover {
                    background-color: aqua;
                }

.containerC .contactInfo .shPageBox .shPageText {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #14213D;
    flex-direction: column;
    font-weight: 300;
}

                .containerC .contactInfo .shPageBox .shPageText h3 {
                    font-weight: 500;
                    font-family:Amperzand;
                    font-size: 22px;
                    color: #14213D;
                }

.contactForm {
    width: 40%;
    padding: 40px;
    background-color: #14213D;
    border-radius: 70px;
}

    .contactForm h2 {
        font-size: 30px;
        color: white;
        font-weight: 500;
    }

    .contactForm .inputBox {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }

        .contactForm .inputBox input, textarea {
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            border-bottom: 2px solid #535353;
            resize: none;
        }

        .contactForm .inputBox span {
            position: absolute;
            left: 0;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
        }

        .contactForm .inputBox input[type="submit"] {
            width: 100px;
            background: #00bcd4;
            color: #000000;
            border-radius: 50px;
            padding: 15px;
            font-size: 18px;
        }

            .contactForm .inputBox input[type="submit"]:hover {
                background-color: rgb(4, 80, 179);
                font-weight: bold;
                transition: .5s;
            }

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .containerC {
        flex-direction: column;
    }

        .containerC .contactInfo {
            margin-bottom: 40px;
        }

    .contact .contactInfo, .contactForm {
        width: 100%;
    }
}